<h2>Products</h2>
<!-- *ngfor ekvivalentu #each handlebars -->
<div *ngFor="let product of products">
  <h3>
    <!-- [title] atributas rasomas [], kad dinamiskai atvaizduoti product.name -->
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>
  <!-- <p *ngIf="product.name">
    name: {{ product.name }}
  </p> -->
  <!-- *ngIf naudojamas sukurti <p> elementui, tik jei egzistuoja 'product.description', viduje galima rasyti js syntakse kaip pavyzdyje jei kondicija atitinka bus atvaizduojama. Su else nurodome ng-template id -->
  <div *ngIf="product.photo">
    <img src="{{ product.photo }}" />
  </div>
  <p *ngIf="product.description.length > 10; else noDescription">
    Description: {{ product.description }}
  </p>
  <p>
    <ng-template #noDescription> No description </ng-template>
  </p>

  <div class="margin">
    <button (click)="shareFacebook()">
      <i class="material-icons text-white">share</i>
      Facebook
    </button>
  </div>
  <div class="margin">
    <button class="twitter-share-button" (click)="shareTwitter()">
      <i class="material-icons text-white">share</i>
      Twitter
    </button>
  </div>
  <!-- <p *ngIf="product.price">
    price: {{ product.price }}
  </p>  -->
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
